
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}